@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.body{
    font-family: "Azeret Mono", monospace;
}

/* Banner Style */
.banner-container{
    width: 1440px;
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    


}
/* banner content style */

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.banner-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
}
.banner-content p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
}
.banner-content button{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background-color: black;
padding: 10px 10px 10px 10px;
border-radius: 10px;
margin-top: 30px;
}

/* Main section design style */

.main-section-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 120px;
}
.main-section-title{
    padding: 80px 97px 80px 97px;
}
.main-section-title h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}
.main-section-title p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

/* main section text content */
.main-section-content{
    width: 850px;
    height: 240px;
    border: 2px solid yellow;
}

.content1 h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.content1 p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.content1 button{
    
position: static;
width: 171px;
height: 47px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}

/* content1 style  */

.content1-container{
    display: flex;
    justify-content: space-around;
    

}

/* content2 style  */

.content2-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.content2-container h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;

}
.content2-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.content2-container button{
    position: static;
    width: 171px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

/* content 3 style  */

.content3-container{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
}
.content3-container h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 30px;
}
.content3-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

/* Video Content style */
.video-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
}

.video-content h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.video-content p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;
}

/* youtube video style  */


.youtube-video{
    width: 1140px;
    height: 614px;
    border: 2px solid rgb(186, 178, 178);
    margin-top: 58px;
}
#youtube{
    padding: 40px;
}

/* My skills target style */

.my-skills-target{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 120px;
}
.myskills-title h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.my-skills-target p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 68px;
} 
.myskills-list{
    width: 1140px;
    height: 299px;
    gap: 10px;
    
}

/* Skills name and style */
.myskills-list{
    display: flex;
}
.Html-title{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    
    
    
}
.css-title{
    width: 30%;
    height: 100%;
   flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.js-title{
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.Html-title h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
.Html-title p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

}
.Html-title a{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
margin-bottom: 10px;
}

/* css style */
.css-title{
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.css-title h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    
    
}
.css-title p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 25px;
    
}
.css-title a{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;

}
/* javascript style */
.js-title{
    padding-left: 10px;
    
    
}


.js-title h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.js-title p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    
}

.js-title a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    }

    /* footer part style */
    .footer-content{
        width: 1140px;
        height: 313px;
        border: 2px solid red;
        border-radius: 16px;
        margin: 0 auto;
        margin-top: 100px;
        background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../assets/handshake.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
}
    .footer-bg-content h1{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}
.footer-bg-content p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* search bar style with button */
#searchbar{
width: 548px;
height: 57px;
padding: 17px 20px 17px 20px;
margin-top: 40px;
font-size: 16px;
font-weight: bold;
background-color: rgb(228, 237, 245);
}

/* button style  */

#btn{
    width: 120px;
    height: 57px;
    margin-top: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(228, 237, 245);
}
/* last title footer */
.last-title{
    width: 1440px;
    height: 50px;
    background-color: rgb(246, 248, 249);
    margin: 0 auto;
    margin-top: 100px;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top: 50px;
    padding-top: 10px;

}

#facebok-img{
    padding: 20px;
    margin-left: 200px;
    margin-top: 20px;
}
#facebok-i{
    margin: 20px;
}


